# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pyd
*.pyo
*.python-version
*.coverage
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.bak

# =========================
# Virtual environment
# =========================
venv/
.env/
.env.*
.venv/

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Optional: Pytest / coverage
# =========================
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml